{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-section">
    <div class="contact-background ">
        <div class="contact-header">
            <h4>Get In Touch</h4>
            <h1>Contact Us</h1>
        </div>
    </div>
    <br><br>

    <div class="contact-content">
        
        <div class="columns">
            <div class="contact-info-boxes column is-half pt-6">
                <br><br><br>
                <div class="info-box">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>HotelView, Nepal</p>
                </div>
                <div class="info-box">
                    <i class="fas fa-phone"></i>
                    <p>+977 984000000</p>
                </div>
            </div>

            <div class="contact-form-container column is-half pt-4">
                <h2>Get In Touch</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="tel" name="phone" placeholder="Phone" required>
                    <input type="text" name="address" placeholder="Address" required>
                    <textarea name="message" placeholder="Message" required></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}